
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}


.display-none {
    display: none;
}

.wrapper{
    
}

.video-container {
    width: 600px;
}

iframe {
    max-width: 100%;
    display: block;
}

